<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">




<mapper namespace="com.xyk.dao.yqDao">
    <!--更新备注-->
    <update id="updateBeizhu">
        update apparatus_info set beizhu=#{beizhu} where id=#{id}
    </update>
    <!--根据房间id查找-->
    <select id="selbyRid" parameterType="java.lang.String" resultType="com.xyk.model.yqModel">
      SELECT * from apparatus_info where room_id=#{room_id}
    </select>
    <!--列表-->
    <select id="list" resultType="com.xyk.model.yqModel">
        select * from apparatus_info
    </select>
    <!--更新数据-->
    <update id="update" parameterType="com.xyk.model.yqModel">
        update apparatus_info set beizhu=#{beizhu},beizhu2=#{beizhu2},OEM=#{OEM},useable=#{useable},room_id=#{room_id} where id=#{id}
    </update>
    <!--根据仪器id更新useable-->
    <update id="upbyid">
    update apparatus_info set useable=#{useable} where id=#{id}
    </update>
    <!--根据仪器id查找u-->
    <select id="selbyid" parameterType="java.lang.String" resultType="com.xyk.model.yqModel">
        select * from apparatus_info where id=#{id}
    </select>
</mapper>